<!DOCTYPE html>
<html>
	<head>
   		<meta charset = "UTF-8">
      	<meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      	<title>Merionette demo</title>
      	<script src = "https://code.jquery.com/jquery-2.1.3.min.js"
         type = "text/javascript"></script>
      
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"
            type = "text/javascript"></script>
        
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"
            type = "text/javascript"></script>
	</head>   
	<body>
		<div id="userList"></div>
		<script type="text/html" id="userTemplate">  
		 	<li>  
		   		<%= name %> is <%= age %> years old  
		 	</li>  
		</script>  
		<script src="graph_script_1.js"></script>
	</body>
</html>