<html>
    <head>
        <title>My backbone App</title>
        <script src = "js/jquery.min.js"
         type = "text/javascript"></script>
      
        <script src = "js/underscore-min.js"
            type = "text/javascript"></script>
        
        <script src = "js/backbone-min.js"
            type = "text/javascript"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1> Backone Item storage app</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input class="form-control item-name-input"></td>
                        <td><input class="form-control category-input"></td>
                        <td><input class="form-control price-input"></td>
                        <td><button class="btn btn-success add-item">Save</button></th>
                    </tr>
                    <tbody class="items-list">

                    </tbody>
                </thead>
            </table>
        </div>
        <script src="scripts.js"></script>
        <script type="text/template" class="items-list-template">
            <td><span class="item-name"><%= item_name %></span></td>
            <td><span class="category"><%= category %></span></td>
            <td><span class="price"><%= price %></span></td>
            <td><button class="btn btn-warning edit-item">Edit</button>
            <button class="btn btn-danger delete-item">Delete</button></td>
            <td><button class="btn btn-danger cancel-item" style="display:none">Cancel</button></td>
            <td><button class="btn btn-success update-item" style="display:none">Update</button></td>
        </script>

    </body>
</html>