<html>
   <head>
      <title>Highcharts Tutorial</title>
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src = "js/jquery.min.js" type="text/javascript"></script>
      <script src = "js/underscore-min.js" type = "text/javascript"></script>
      <script src = "js/backbone-min.js" type = "text/javascript"></script>
      <script src = "js/highcharts.js" type="text/javascript"></script> 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="js/backbone.marionette.min.js" type="text/javascript"></script>
   </head>
   
   <body>
      <div id="div1" style="float: left"></div><br><br>
      <table class="table table-bordered" style = "width: 250px; height: 300px; float: right; margin-right: 25%">
         <thead>
            <tr>
               <th>Device</th>
               <th>Sessions</th>
            </tr>
            <tbody class="items-list">
            </tbody>
         </thead>
      </table>
      <script type="text/html" id="add-data">
         <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
         <div style="margin-left: 20%; margin-top: 5%">
            <table class="table">
               <tr>
                  <td>
                     <label>Device</label>
                  </td>
                  <td>
                     <select name="device-name" id="device">
                        <option value="GT-I9300">GT-I9300</option>
                        <option value="HTC Desire">HTC Desire</option>
                        <option value="C1605">C1605</option>
                        <option value="GT-S5360">GT-S5360</option>
                        <option value="GT-I9100">GT-I9100</option>
                     </select>
                  </td>
               </tr>
               <tr>
                  <td>
                     <label>Session</label>
                  </td>
                  <td>
                     <input type="text" id="session"><br><br>
                  </td>                  
               </tr>
               <tr>
                  <td></td>
                  <td><button type="submit" class="btn btn-success">Submit</button></td>
               </tr>
         </div>
      </script>
      <script type="text/html" id="display-data">
         <tr>
            <td><%= device %></td>
            <td><%= session %></td> 
         </tr>
      </script>
      <script type="text/javascript", src="highchart_script_1.js"></script>
   </body>
</html>  