<html>
   <head>
      <title>Highcharts Tutorial</title>
      <script src = "js/jquery.min.js" type="text/javascript"></script>
      <script src = "js/underscore-min.js" type = "text/javascript"></script>
      <script src = "js/backbone-min.js" type = "text/javascript"></script>
      <script src = "js/highcharts.js" type="text/javascript"></script> 
      <!-- <script src="js/backbone.marionette.min.js" type="text/javascript"></script> -->
   </head>
   
   <body>
      <div id="div1"></div><br><br>
      <table>
         <thead>
            <tr>
               <th>Month</th>
               <th>RainFall</th>
            </tr>
            <tbody class="items-list">
            </tbody>
         </thead>
      </table>
      <script type="text/html" id="add-data">
         <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
         <!-- <input type="text" id="month"><br><br> -->
         Month:
         <select name="month-name" id="month">
            <option value="Jan">January</option>
            <option value="Feb">February</option>
            <option value="Mar">March</option>
            <option value="Apr">April</option>
            <option value="May">May</option>
            <option value="Jun">June</option>
            <option value="Jul">July</option>
            <option value="Aug">August</option>
            <option value="Sep">September</option>
            <option value="Oct">October</option>
            <option value="Nov">November</option>            
            <option value="Dec">December</option>
         </select>
         <br><br>
         RainFall:
         <input type="text" id="rainfall"><br><br>
         <button type="submit">Submit</button>
      </script>
      <script type="text/html" id="display-data">
         <td><%= month %></td>
         <td><%= rainfall %></td>
      </script>
      <script type="text/javascript", src="highchart_script.js"></script>
   </body>
</html>  

=========================================================================================

var Record = Backbone.Model.extend({
   defaults: {
      month: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
      rainfall: [0,0,0,0,0,0,0,0,0,0,0,0]
   }
});

var graphview = Backbone.View.extend({
   el: '#div1',
   model: new Record(),
   template: _.template($('#add-data').html()),
   initialize: function(){
      this.$el.html(this.template());
   },
   events: {
      'click button': 'adddata'
   },
   adddata: function(){
      var month = this.model.get('month');
      // month.push($('#month').val());
      var t = -1;
      for (var i = month.length - 1; i >= 0; i--) {
         if(month[i] == $('#month').val()) {
            t = i;
            break;
         }
      }
      if(t == -1) {
         alert("Invalid month name");
      }
      else {
         var rainfall = this.model.get('rainfall');
         // rainfall.push($('#rainfall').val());
         rainfall[t] = parseInt($('#rainfall').val());
         this.model.set({ 'month' : month, 'rainfall': rainfall});  
      }
      console.log(this.model.get('month'));
      console.log(this.model.get('rainfall'));
      this.render();
   },
   render: function(){
      var chart = {
         type: 'column'
      };
      var title = {
         text: 'Monthly Average Rainfall'   
      };
      var subtitle = {
         text: 'Source: WorldClimate.com'  
      };
      var xAxis = {
         categories: this.model.get('month'),
         crosshair: true
      };
      var yAxis = {
         min: 0,
         title: {
            text: 'Rainfall (mm)'
         }
      };
      var tooltip = {
         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
         footerFormat: '</table>',
         shared: true,
         useHTML: true
      };
      var plotOptions = {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      };
      var series = [
      {
         name: 'Tokyo',
         data: this.model.get('rainfall')
      }
      ];
      var json = {};
      json.chart = chart;
      json.title = title;
      json.subtitle = subtitle;
      json.tooltip = tooltip;
      json.xAxis = xAxis;
      json.yAxis = yAxis;
      json.series = series;
      json.plotOptions = plotOptions;
      $('#container').highcharts(json);
      t.render();    
   }
});

var x = new graphview();

var tableview = Backbone.View.extend({
   //model: x.model,
   el: $('.item-list'),
   template: _.template($('#display-data').html()),
   initialize: function(){

   },
   render: function() {
      months = x.model.get('month');
      rainfalls = x.model.get('rainfall');

//    for (var i = 0; i <= months.length - 1; i++) {
      //this.$el.html(this.template({month: months, rainfall: rainfalls}));
//    }
      this.$el.html('<h1>hello</h1>');
   }
});

var t = new tableview();

$(document).ready(function() {
   x.render()
})