<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src = "js/jquery.min.js" type="text/javascript"></script>
      <script src = "js/underscore-min.js" type = "text/javascript"></script>
      <script src = "js/backbone-min.js" type = "text/javascript"></script>
      <script type="text/javascript" src="js/backbone.marionette.js"></script>      
      <script type="text/javascript" src="js/backbone.marionette.min.js"></script>      
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="app-hook"></div>
    <script type="text/template" id="Hello">
    	<p>Hello World!</p>
    	<ul>
  			<% _.each(items, function(item) { %>
    			<li><%- item.text %> &mdash; <%- item.assignee %></li>
  			<% }) %>
		</ul>
    </script>
    <script type="text/template" id="#todo">
    	<%- text %> &mdash; <%- assignee %>
    </script>
    <script src="todo.js"></script>
  </body>
</html>