<!DOCTYPE html>
<html>
	<head>
   		<meta charset = "UTF-8">
      	<meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      	<title>Merionette demo</title>
      	<script src = "https://code.jquery.com/jquery-2.1.3.min.js"
         type = "text/javascript"></script>
      
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"
            type = "text/javascript"></script>
        
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"
            type = "text/javascript"></script>
        <script type="text/javascript" src="./backbone.marionette.min.js"></script>
	</head>
   
	<body>
		<div id="form"></div>
		<hr>
		<div id="list"></div>
		<script type="text/template" id="formView">
			<h2>New User</h2>
			<p><input type="text" id="name" /></p>
			<p><button>Create</button></p>
		</script>
		<script type="text/template" id="userView">
			<div id="singleUser">
				Name: <%= name %><button>Delete</button>
			</div>
		</script>
		<script type="text/template" id="usersView">
			<h2>Users</h2>
		</script>
		<script type="text/template" id="noUserView">
			<h2>No Users</h2>
		</script>
		<script src="scripts1.js"></script>
	</body>
</html>