<!DOCTYPE html>
<html>
  <head>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js" integrity="sha512-b6lGn9+1aD2DgwZXuSY4BhhdrDURVzu7f/PASu4H1i5+CRpEalOOz/HNhgmxZTK9lObM1Q7ZG9jONPYz8klIMg==" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha512-7fNh7OUGa7bdpmSQ81iNxgBywspNTxVxBxfbT1gSnQ124VGfksj3AR/QGhdYaO8ZLHBLSoaa+VsVDgw795eBaw==" crossorigin="anonymous"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.7/backbone.marionette.min.js"></script>

  </head>
  <body>
    <div id="app-hook"></div>
<!--     <script type="text/template" id="hello">
    	<p>Hello world!</p>
    	<ul>
		  <% _.each(items, function(item) { %>
		    <li><%- item.text %> &mdash; <%- item.assignee %></li>
		  <% }) %>
		</ul
    </script> -->
<!--     <script type="text/template" id="todoitem">
    	<%- text %> &mdash; <%- assignee %>
    </script>
    <script type="text/template" id="todolist">
		<ul></ul>
		<form>
		  <label for="id_text">Todo Text</label>
		  <input type="text" name="text" id="id_text" />
		  <label for="id_assignee">Assign to</label>
		  <input type="text" name="assignee" id="id_assignee" />

		  <button id="btn-add">Add Item</button>
		</form>
    </script> -->
    <script type="text/template" id="layout">
		<div class="list"></div>
		<div class="form"></div>    	
    </script>
    <script type="text/template" id="form">
		<label for="id_text">Todo Text</label>
		<input type="text" name="text" id="id_text" value="<%- text %>" />
		<label for="id_assignee">Assign to</label>
		<input type="text" name="assignee" id="id_assignee" value="<%- assignee %>"/>

		<button id="btn-add">Add Item</button>
    </script>
    <script type="text/template" id="todoitem">
		<%- text %> &mdash; <%- assignee %>
    </script>
    <script src="driver.js"></script>
  </body>
</html>