<html>
   <head>
      <title>Marionette Tutorial</title>
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js" integrity="sha512-b6lGn9+1aD2DgwZXuSY4BhhdrDURVzu7f/PASu4H1i5+CRpEalOOz/HNhgmxZTK9lObM1Q7ZG9jONPYz8klIMg==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha512-7fNh7OUGa7bdpmSQ81iNxgBywspNTxVxBxfbT1gSnQ124VGfksj3AR/QGhdYaO8ZLHBLSoaa+VsVDgw795eBaw==" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.7/backbone.marionette.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- <script src="js/backbone.marionette.min.js" type="text/javascript"></script> -->
   </head>
   
   <body>
      <h1>Hello world</h1>
      <div id="form-view"></div>
      <div id="user-list"></div>
      <script type="text/template" id="user-list-data">
         <%- assignee %> &mdash; <%- text %>
      </script>
      <script type="text/html" id="form-view-template">
         <label>Assignee</label>
         <input type="text" name="assignee" id="assignee">
         <label>Task</label>
         <input type="text" name="task" id="task">
         <button type="submit" id="submit">Add</button>
      </script>
      <script type="text/javascript", src="todoscript.js"></script>
   </body>
</html>  