<html>

<head>
    <title>{{ message|e }}</title>

    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type = "text/javascript" src="https://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script> -->
    <!-- <script type = "text/javascript" src="https://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script> -->
    <!-- <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/underscore-min.js" type="text/javascript"></script>
    <script src="static/js/backbone-min.js" type="text/javascript"></script>
    <script src="static/js/highcharts.js" type="text/javascript"></script> -->
    <!-- <script src = "https://code.highcharts.com/highcharts.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <script src="js/backbone.marionette.min.js" type="text/javascript"></script> -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js" integrity="sha512-b6lGn9+1aD2DgwZXuSY4BhhdrDURVzu7f/PASu4H1i5+CRpEalOOz/HNhgmxZTK9lObM1Q7ZG9jONPYz8klIMg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha512-7fNh7OUGa7bdpmSQ81iNxgBywspNTxVxBxfbT1gSnQ124VGfksj3AR/QGhdYaO8ZLHBLSoaa+VsVDgw795eBaw==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.7/backbone.marionette.min.js"></script>
    <script src = "https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="div1" style="float: left"></div><br><br>
    <table class="table table-bordered" style="width: 250px; height: 300px; float: right; margin-right: 25%">
        <thead>
            <tr>
                <th>Device</th>
                <th>Sessions</th>
            </tr>
            <tbody class="items-list">
            </tbody>
        </thead>
    </table>
    <script type="text/html" id="add-data">
        <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
        <div style="margin-left: 20%; margin-top: 5%">
            <form method="POST">
            <table class="table">
                <tr>
                    <td>
                        <label>Device</label>
                    </td>
                    <td>
                        <select name="device-name" id="device">
                           {% for device in devices %} 
                              <option value="{{ device }}">{{ device }}</option>
                           {% endfor %}
                           
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>No of active session</label>
                    </td>
                    <td>
                        <input type="text" name="session-value" id="session"><br><br>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Submit</button></td>
                </tr>
            </table>
            </form>
        </div>
    </script>
    <script type="text/html" id="display-data">
        <tr>
            <td>
                <%= device %>
            </td>
            <td>
                <%= session %>
            </td>
        </tr>
    </script>
    <script type="text/javascript">
        var message = '{{message}}';
        var d1 = {{session}};
    </script>
    <script type="text/javascript" , src="static/js/demo.js"></script>
</body>

</html>