<html>
    <head>
        <script type = "text/javascript" 
   src = "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type = "text/javascript"
   src = "https://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
<script type = "text/javascript"
   src = "https://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>

 <meta charset = "UTF-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      


        <title>{{ message|e }}</title>
        <style type="text/css">
            h1 {
                color: #0099FF;
                font-family: 'trebuchet ms', trebuchet, arial, sans-serif;
                font-size: 72px;
                text-align: center;
                margin-top: 24px;
            }
        </style>
    </head>
    <body>
        <h1>{{ message|e }}</h1>
        <h2>{{arr}}</h2>
        <script>
            $( {{arr}} ).each(function( index,data ) {
              console.log( index +  "My Array: " +  data);
            });
            
        </script>
    </body>
</html>
