<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>{{ message|e }}</title>
        <style type="text/css">
            h1 {
                color: #0099FF;
                font-family: 'trebuchet ms', trebuchet, arial, sans-serif;
                font-size: 72px;
                text-align: center;
                margin-top: 24px;
            }
        </style>
    </head>
    <body>
        <h1>{{ message|e }}</h1>
        <h2>{{arr}}</h2>
        <script>
            $( {{arr}} ).each(function( index,data ) {
              console.log( index +  "My Array: " +  data);
            });
            
        </script>
    </body>
</html>
