<html>
    <head>
        <title>User-Task Data</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js" integrity="sha512-b6lGn9+1aD2DgwZXuSY4BhhdrDURVzu7f/PASu4H1i5+CRpEalOOz/HNhgmxZTK9lObM1Q7ZG9jONPYz8klIMg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha512-7fNh7OUGa7bdpmSQ81iNxgBywspNTxVxBxfbT1gSnQ124VGfksj3AR/QGhdYaO8ZLHBLSoaa+VsVDgw795eBaw==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.7/backbone.marionette.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <script src="js/backbone.marionette.min.js" type="text/javascript"></script> -->
    </head>

    <body>
        <h1>ToDo Application</h1>
        <h3 style="color: red;">{{ error }}</h3>
        <form method="POST">
            <table class="table" style="width: 400px;">
                <tr>
                    <td><label>Assignee</label></td>
                    <td><input type="text" name="assignee_name"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Task</label></td>
                    <td><input type="text" name="task"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button type="submit" name="add" value="AddTask" class="btn btn-success">Add Task</button></td>
                    <td><button type="submit" name="update" value="UpdateTask" class="btn btn-info" style="margin-left: 10px;">Update Task</button></td>
                    <td><button type="submit" name="remove" value="DeleteTask" class="btn btn-danger" style="margin-left: -80px;">Delete Task</button></td>
                </tr>
            </table>
        </form>
        <!-- {% for info in data_info %}
            {{ info }}
            <br>
        {% endfor %} -->
        <table class="table table-bordered" id="user-list" style="width: 400px; margin-left: 30px">
            <tr>
                <td>Assignee</td>
                <td>Task</td>
            </tr>
        </table>
        <script type="text/template" id="user-list-data">
            <td><%- assignee %></td> 
            <td><%- task %></td>
        </script>
        <script type="text/javascript">
            var data_info_list = {{data_info|safe}};
        </script>
        <script type="text/javascript", src="static/js/user.js"></script>
    </body>
</html>  